@using Alkoshop.Models
@model Product
@{
    ViewBag.Title = "Detail";
}


<div class="col-md-12">

    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static" style="background-color: white">
            <div class="col-auto d-none d-lg-block align-self-center">
                <img src="@Model.Picture" alt="jagger" width="200px" height="200px" />
            </div>
            <b><h3 class="mb-0">@Model.Name</h3></b>
            <div class="mb-1 text-muted"><b>Producent: </b>@Model.Producer</div>
            <p class="mb-auto"><b>Pochází z: </b> @Model.Country</p>
            <p class="mb-auto"><b>Popis produktu: </b>@Model.Description</p>
            <div><b>Cena: </b> @Model.PricePU CZk</div>
        </div>

    </div>

    <h5>Pro objednání se musíte přihlásit!</h5>

</div>
<br />
<div style="width: 20%"><a href="@Url.Action("Index","Home")" class="btn btn-lg btn-block text-white btn-outline-success btn-success">Zpět</a></div>


<script src="~/Scripts/counter.js"></script>

