@model DataAccess.Model.Product


@{
    /**/

    /**/

    ViewBag.Title = "Create";
}

<div class="padded-down">
    <h2>Přidání nového produktu</h2>
</div>


@using (Html.BeginForm("Add", "Product", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{

    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", name = "name", Placeholder = "Name" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="form-group">
        <label>Producer</label>
        @Html.TextBoxFor(x => x.Producer, new { @class = "form-control", name = "producer", Placeholder = "Producer" })
        @Html.ValidationMessageFor(x => x.Producer)
    </div>
    <div class="form-group">
        <label>Cena za jednotku</label>
        @Html.TextBoxFor(x => x.PricePerUnit, new { @class = "form-control", name = "pricePerUnit", Placeholder = "PricePerUnit" })
        @Html.ValidationMessageFor(x => x.PricePerUnit)
    </div>
    <div class="form-group">
        <label>Popis</label>
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", name = "description", Placeholder = "Description" })
        @Html.ValidationMessageFor(x => x.Description)
    </div>
    <div class="form-group">
        <label>Mnozstvi</label>
        @Html.TextBoxFor(x => x.Availability, new { @class = "form-control", name = "availability", Placeholder = "Availability" })
        @Html.ValidationMessageFor(x => x.Availability)
    </div>
    <div class="form-group">
        <label>Země původu</label>
        @Html.DropDownList("countryId", new SelectList(ViewBag.Countries, "id", "name"), new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Kategorie</label>
        @Html.DropDownList("categoryId", new SelectList(ViewBag.Categories, "id", "name"), new { @class = "form-control" })
    </div>



    <div class="form-group">
        <label>Obrázek</label>
        <input type="file" name="picture" />
    </div>



    <button type="submit" class="btn btn-success">Přidat</button>
}




