@model DataAccess.Model.Product


@{
    /**/

    /**/

    ViewBag.Title = "Edit";
}

<div class="padded-down">
    <h2>Úprava produktu</h2>
</div>


@using (Html.BeginForm("Update", "Product", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Id, new { name = "productId" })

    <div class="form-group">
        <label>Název</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", name = "name", Placeholder = "Name" })
        @Html.ValidationMessageFor(x => x.Producer)
    </div>

    <div class="form-group">
        <label>Výrobce</label>
        @Html.TextBoxFor(x => x.Producer, new { @class = "form-control", name = "producer", Placeholder = "Producer" })
        @Html.ValidationMessageFor(x => x.Producer)
    </div>

    <div class="form-group">
        <label>Cena za jednotku</label>
        @Html.TextBoxFor(x => x.PricePerUnit, new { @class = "form-control", name = "pricePU", Placeholder = "PricePerUnit" })
        @Html.ValidationMessageFor(x => x.PricePerUnit)
    </div>
    <div class="form-group">
        <label>Kusů na skladě</label>
        @Html.TextBoxFor(x => x.Availability, new { @class = "form-control", name = "amount", type = "number", Placeholder = "Amount" })
        @Html.ValidationMessageFor(x => x.Availability)
    </div>
    <div class="form-group">
        <label>Popis produktu</label>
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", name = "description", Placeholder = "Description" })
        @Html.ValidationMessageFor(x => x.Availability)
    </div>
    <div class="control-group">
        <label class="control-label"> Obrazek </label>
        <div class="controls">

            <input type="file" name="picture" />
            @if(!string.IsNullOrEmpty(Model.Image ))
            {
            <img src="@Url.Content("~/uploads/product/" +  Model.Image)" />
            }
        </div>
    </div>



    <div class="form-group">
        <label>Kategorie</label>
        @Html.DropDownList("categoryId", new SelectList(ViewBag.Categories, "id", "name", Model.Category.Id), new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Zeme puvodu</label>
        @Html.DropDownList("countryId", new SelectList(ViewBag.Countries, "id", "name", Model.Country.Id), new { @class = "form-control" })
    </div>



    <button type="submit" class="btn btn-success">Upravit</button>
}




