@model Alkoshop.Models.Product


@{
    /**/

    /**/

    ViewBag.Title = "Edit";
}

<div class="padded-down">
    <h2>Úprava produktu</h2>
</div>


@using (Html.BeginForm("Update", "Product", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
        @Html.HiddenFor(x=> x.Id, new { name = "productId"})
        @Html.HiddenFor(x => x.Name, new { @class = "form-control", name = "name", Placeholder = "Name" })
        @Html.HiddenFor(x => x.Producer, new { @class = "form-control", name = "producer", Placeholder = "Producer" })

    <div class="form-group">
        <label>Cena za jednotku</label>
        @Html.TextBoxFor(x => x.PricePU, new { @class = "form-control", name = "pricePU", Placeholder = "PricePerUnit" })
        @Html.ValidationMessageFor(x => x.PricePU)
    </div>
    <div class="form-group">
        <label>Kusů na skladě</label>
        @Html.TextBoxFor(x => x.Amount, new { @class = "form-control", name = "amount", type="number", Placeholder = "Amount" })
        @Html.ValidationMessageFor(x => x.Amount)
    </div>

        @Html.HiddenFor(x => x.Availability, new { @class = "form-control", name = "availability", Placeholder = "Availability" })
   
        @Html.HiddenFor(x => x.Description, new { @class = "form-control", name = "description", Placeholder = "Description" })

        @Html.HiddenFor(x => x.Country);
    
        
    <div class="form-group">
        <label>Kategorie 1-Alko 2-Tabak</label>
        @Html.TextBoxFor(x => x.Alcotabac, new { type = "number", name = "alcoTabac" })
        @Html.ValidationMessageFor(x => x.Alcotabac)
    </div>



    <button type="submit" class="btn btn-primary">Upravit</button>
}




