@using DataAccess.Model
@model IList<Product>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/Content/menustyle.css"/>

<div class="card-group marged">

    @foreach (Product p in Model)
    {
    
        <div class="col-lg-3" style="margin-bottom: 8px">
            <div class="card">
                <img class="card-img-top" src="@Url.Content("~/uploads/product/" + p.Image)" alt="Card image cap" width="200" height="200">
                <div class="card-body">
                    <h5 class="card-title">@p.Name</h5>
                    <div class="card-text list-unstyled">
                        <ul class="mt-3 mb-4 card-text list-unstyled">
                            <li>Producent: @p.Producer</li>
                            <li>Cena: @p.PricePerUnit Kč</li>
                            @if (p.Availability >= 0)
                            {
                                <li>Na skladě</li>
                            }
                            else
                            {
                                <li>Vyprodano</li>
                            }
                        </ul>
                </div>
            </div>
            <div class="card-footer">

                <small class="text-muted">

                    <a href="@Url.Action("Detail", "Product" , new { productId=p.Id })" class="btn btn-lg btn-block text-white btn-outline-success btn-success marged-bottom">Koupit ted</a>

                </small>
            </div>
        </div>
    </div>

    
    }


    @section SideMenu
    {
        <h3 class="h3 align-self-center">MENU</h3>
        <a data-toggle="collapse" href="#collapse1"  class="h4" id="menuitem">
            Alkohol
        </a>
        <div id="collapse1" class="panel-collapse collapse">
            @foreach (Category cat in ViewBag.Categories)
                {
                    if(cat.Type == "Alkohol")
                    {
                        <li class="nav-item">
                        <a class="nav-link"id="itemnav" href="@Url.Action("ShowProductByCategory", "Product", new { categoryId = cat.Id})">
                            <span data-feather="file"> @cat.Name</span>
               
                        </a>
                    </li>
                    }

                }
        </div>

        <a data-toggle="collapse" href="#collapse2" class="h4" id="menuitem">
            Tabák
        </a>
        <div id="collapse2" class="panel-collapse collapse">
            @foreach (Category cat in ViewBag.Categories)
            {
                if (cat.Type == "Tabak")
                {
                    <li class="nav-item" id="itemnav">
                        <a class="nav-link"id="itemnav" href="@Url.Action("ShowProductByCategory", "Product", new { categoryId = cat.Id })">
                            <span data-feather="file"> @cat.Name</span>
               
                        </a>
                    </li>
                }
            }
        </div>
    }


</div>



