@using Alkoshop.Models
@model IList<Product>

<div class="card-group">

    @foreach (Product p in Model)
    {
        <div class="col-lg-4" style="margin-bottom: 8px">
            <div class="card">
                <img class="card-img-top" src="@p.Picture" alt="Card image cap" width="200" height="200">
                <div class="card-body">
                    <h5 class="card-title">@p.Name</h5>
                    <div class="card-text list-unstyled">
                        <ul class="mt-3 mb-4">
                            <li>Producer: @p.Producer</li>
                            <li>Price: @p.PricePU</li>
                            @if (p.Availability == "yes")
                            {
                                <li>Na skladě</li>
                            }
                            else
                            {
                                <li>Vyprodano</li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="card-footer">

                    <small class="text-muted">
                        @if (p.Availability == "yes")
                        {
                            <a href="@Url.Action("Detail","Product", new {  productId = p.Id })" class="btn btn-lg btn-block text-white btn-outline-success btn-success marged-bottom">Koupit ted</a>
                        }
                    </small>
                </div>
            </div>
        </div>
    }
    @section SideMenu
        {
        <li class="nav-item">
            Alkohol
        </li>
        @foreach (Category cat in ViewBag.AlcoCategories)
        {
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ShowProductByCategory", "Product", new { categoryId = cat.id})">
                    <span data-feather="file"></span>
                    @cat.name
                </a>
            </li>
        }
        <li class="nav-item">
            Tabák
        </li>
        @foreach (Category cat in ViewBag.TabaccoCategories)
        {
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ShowProductByCategory", "Product", new { categoryId = cat.id})">
                    <span data-feather="file"></span>
                    @cat.name
                </a>
            </li>
        }
    }


</div>



