<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>ALKOSHOP</title>


    <!-- Bootstrap core CSS -->

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        #nav {
            background-color: darkgreen;
            color: white;
        }

        #color-body {
            background-color: lightcyan;
        }

        #sing {
            position: absolute;
            right: 5px;
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet">
</head>
<body id="color-body">
    <div id="nav" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
        <a href="@Url.Action("Index","Home")" class="pr-4"><img alt="XXX" src="~/Design/alkoshop_logo.png" width="100px" height="35px" /></a>
        <nav class="my-2 my-md-0 mr-md-3 ">
            <a class="p-2 text-white" href="@Url.Action("Index", "Favourite")">Oblíbené</a>
            <a class="p-2 text-white" href="#">O nás</a>
            <a class="p-2 text-white" href="#">Obchodní podmínky</a>
            <a href="@Url.Action("Index", "Cart")">
                <button type="button" class="btn btn-success">
                    Váš košík <span class="badge badge-light">
                        @if (@Session["cart"] != null)
                        {

                            @((Session["cart"] as List<Alkoshop.Models.CartItem>).Count)
                        }
                        else
                        { <p>0</p>}
                    </span>
                </button>
            </a>
        </nav>
        <div id="sing">
            <a class="btn btn-outline-success float-lg-right text-white" href="@Url.Action("Logout","Login")"> Odhlásit se </a>
        </div>
    </div>
    @if (TempData["message-nosuccess"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["message-nosuccess"];
        </div>
     }
    @if (TempData["message-success"] != null)
    {
    <div class="alert alert-success" role="alert">
        @TempData["message-success"];
    </div>
    }
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">ALKOSHOP</h1>
    </div>
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    @RenderSection("SideMenu", false)

                </ul>
            </div>
        </nav>
        <div class="container col-md-9 ">

            @RenderBody()

        </div>
    </div>
    <footer id="nav" class="pt-2 my-md-4 pt-md-2 border-top">
        <p class="text-white-50">&copy; 2019, Pavel Vysoudil, Kristýna Hnízdilová, Jiří Dřímal</p>
    </footer>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
</body>
</html>
