@using Alkoshop.Models
@model IList<CartItem>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/Content/menustyle.css" />

<table class="table table-bordered table-hover marged-bottom table-light">
    <thead>
        <tr>
            <th>Nazev produktu</th>
            <th>Image</th>
            <th>Cena za kus</th>
            <th>Pocet kusu</th>
            <th>Upravit</th>
            <th>Smazat</th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            foreach (CartItem item in Model)
            {
        <tr>
            <td>@item.Name</td>
            <td>
                <img src="@item.Image" alt="@item.Name" width="400" height="400" />
            </td>

            <td>@item.PricePerUnit</td>

            @using (Html.BeginForm("Update", "Cart",FormMethod.Post))
    {
                @Html.Hidden("cartItemProductId",item.ProductId)
        <td>
            @Html.TextBox("count",new { },new { type="number", Placeholder=item.NumberOfUnits})
            <!--<input type="number" class="form-control" id="count" name="count" placeholder="item.NumberOfUnits">-->
        </td>
        <td>
            <!-- <button type="submit"
             class="btn btn-primary"
             onclick="location.href='Url.Action("Update", "Cart", new { cartItemProductId = item.ProductId, count =  })'">Upravit</button>
     !-->
            <button type="submit" class="btn btn-primary">Upravit</button>

        </td>
}



            <td>
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete","Cart",new { cartItemId = item.ProductId})'">Smazat</button>
            </td>
        </tr>
            }
        }
        else
        {
            <tr>
                <td> Vas kosik neobsahuje zadne produkty</td>
            </tr>
        }

    </tbody>
</table>
<div class="clearfix"></div>
<button type="button" class="btn btn-dark" onclick="location.href ='@Url.Action("Create","Order",new { area= "Customer", newAddress = false})'">Vytvořit objednávku s Vaší adresou</button>
<button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Create","Address", new { area="", cusoremp = "order"})'">Vytvořit objednávku s novou adresou</button>


