@model DataAccess.Model.Address 


@{
    ViewBag.Title = "Create";
}

<h2>Část 1 - uveďte adresu</h2>


@using (Html.BeginForm("Add" , "Address", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label>Město</label>
        @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.City)
    </div>
    <div class="form-group">
        <label>Ulice</label>
        @Html.TextBoxFor(x => x.Street, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Street)
    </div>
    <div class="form-group">
        <label>Číslo popisné</label>
        @Html.TextBoxFor(x => x.StreetNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.StreetNumber)
    </div>
    <div class="form-group">
        <label>PSČ</label>
        @Html.TextBoxFor(x => x.ZipCode, new { @class = "form-control " })
        @Html.ValidationMessageFor(x => x.ZipCode)
    </div>
    

    <button type="submit" class="btn btn-success">Pokračovat</button>
}




