<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>ALKOSHOP</title>


    <!-- Bootstrap core CSS -->

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        #nav {
            background-color: darkgreen;
            color: white;
        }

        #color-body {
            background-color: lightcyan;
        }

        #sing {
            position: absolute;
            right: 5px;
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet">
</head>
<body id="color-body">
    <div id="nav" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
        <a href="@Url.Action("Index","Home")" class="pr-4"><img alt="XXX" src="~/Design/alkoshop_logo.png" width="100px" height="35px" /></a>
        <nav class="my-2 my-md-0 mr-md-3 ">
            <a class="p-2 text-white" href="#">Features</a>
            <a class="p-2 text-white" href="#">O nás</a>
            <a class="p-2 text-white" href="@Url.Action("Create","Address", new { cusoremp = "emp"})">Registrace zaměstnanec</a>
            <a href="@Url.Action("Index", "Cart")">
                <button type="button" class="btn btn-success">
                    Váš košík <span class="badge badge-light">0</span>
                    <span class="sr-only">unread messages</span>
                </button>
            </a>
        </nav>
        <div id="sing">
            <a class="btn btn-outline-success float-lg-right text-white" href="@Url.Action("Logout","Login")"> Odhlásit se </a>
            <a class="btn btn-outline-success float-lg-right text-white" href="@Url.Action("Index","Login")"> Přihlásit se </a>
            <a class="btn btn-outline-success float-lg-right text-white" href="@Url.Action("Create","Address", new { cusoremp = "cus"})"> Registace zákazník </a>
       </div>
    </div>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">ALKOSHOP</h1>
    </div>
    <div class="container">
        @if (TempData["message-success"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["message-success"];
            </div>
        }
        @RenderBody()

    <div class="col-6 col-md-9 col-xl-2 bd-sidebar">

        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">3</span>
        </h4>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Product name</h6>
                    <small class="text-muted">Brief description</small>
                </div>
                <span class="text-muted">$12</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Second product</h6>
                    <small class="text-muted">Brief description</small>
                </div>
                <span class="text-muted">$8</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Third item</h6>
                    <small class="text-muted">Brief description</small>
                </div>
                <span class="text-muted">$5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
                <div class="text-success">
                    <h6 class="my-0">Promo code</h6>
                    <small>EXAMPLECODE</small>
                </div>
                <span class="text-success">-$5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Total (USD)</span>
                <strong>$20</strong>
            </li>
        </ul>

        <form class="card p-2">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Promo code">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary">Redeem</button>
                </div>
            </div>
        </form>
    </div>
    </div>
        <footer id="nav" class="pt-2 my-md-4 pt-md-2 border-top">
            <p class="text-white-50">&copy; 2019, Pavel Vysoudil, Kristýna Hnízdilová, Jiří Dřímal</p>
        </footer>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
</body>
</html>

