@using Alkoshop.Models
@model Product
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div class="col-md-12">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">

            <h3 class="mb-0">@Model.Name</h3>
            <div class="mb-1 text-muted">@Model.Producer</div>
            <p class="mb-auto">Pochazi z :@Model.Country</p>
            <p class="mb-auto">@Model.Description</p>
            <div>@Model.PricePU</div>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img src="@Model.Picture" alt="jagger" width="200px" height="200px" />
        </div>
    </div>
    @using (@Html.BeginForm("Add", "Cart", new { name = Model.Name, image = Model.Picture, productId = Model.Id, pricePerUnit = Model.PricePU }, FormMethod.Post))
    {

        <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Count</label>
            <input type="number" class="form-control" id="inputCount" name="numberOfUnit">
        </div>
            <button type="submit" class="btn btn-primary mb-2">Add to Cart</button>
        
    }

</div>

<script src="~/Scripts/counter.js"></script>

