@using Alkoshop.Models
@model Product
@{
    ViewBag.Title = "Detail";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/Content/menustyle.css" />

<div class="col-md-12">

    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static" style="background-color: white">
            <div class="col-auto d-none d-lg-block align-self-center">
                <img src="@Model.Picture" alt="jagger" width="400" height="400" />
            </div>
            <b><h3 class="mb-0">@Model.Name</h3></b>
            <div class="mb-1 text-muted"><b>Producent: </b>@Model.Producer</div>
            <p class="mb-auto"><b>Pochází z: </b> @Model.Country</p>
            <p class="mb-auto"><b>Popis produktu: </b>@Model.Description</p>
            <div><b>Cena: </b> @Model.PricePU Kč</div>
            <div><b>Na skladě zbývá už jen:</b>@Model.Amount kusů!</div>



            @using (@Html.BeginForm("Add", "Cart", new { name = Model.Name, image = Model.Picture, productId = Model.Id, pricePerUnit = Model.PricePU }, FormMethod.Post))
            {
                <br /><br />
                <div>
                    <p class="mb-auto"><b>Zadejte počet kusů: </b></p>
                    <label for="inputPassword2" class="sr-only">Počet kusů</label>
                    <input type="number" class="form-control" id="inputCount" name="numberOfUnit" size="15">
                </div>
                <br /><br />
                <button type="submit" class="btn btn-success mb-2">Přidat do košíku</button>
            }
        </div>

    </div>

</div>

<br />
<div style="width: 20%"><a href="@Url.Action("Index","Home")" class="btn btn-lg btn-block text-white btn-outline-success btn-success">Zpět</a></div>


<script src="~/Scripts/counter.js"></script>