@using DataAccess.Model
@model IList<CartItem>
@{
    /**/

    ViewBag.Title = "Create";
}

<h2>Souhrn Objednávky</h2>

<p>Objednávka na Adresu: @ViewBag.Order.Address.Street @ViewBag.Order.Address.StreetNumber, @ViewBag.Order.Address.ZipCode @ViewBag.Order.Address.City </p>
<p>Vytvořena dne:  @ViewBag.Order.Date</p>
<p>Jméno:  @ViewBag.Order.Customer.Name</p>
<p>Příjmení:  @ViewBag.Order.Customer.Surname</p>


@foreach (CartItem item in Model)
{
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static" style="background-color: white">
            <div class="col-auto d-none d-lg-block align-self-center">
                <img src="@item.Image" alt="jagger" width="400" height="400" />
            </div>
            <b><h3 class="mb-0">@item.Name</h3></b>
            <p class="mb-auto"><b>Počet kusů: </b>@item.NumberOfUnits</p>
            <div><b>Cena za kus: </b> @item.PricePerUnit CZk</div>
        </div>

    </div>
}

<h4>Celková cena: @ViewBag.TotalPrice</h4>


<button type="button" class="btn btn-success" onclick="location.href ='@Url.Action("TrueCreate","Order")'">Potvrdit</button>
<button type="button" class="btn btn-success" onclick="location.href = '@Url.Action("Index","Cart")'">Zrušit</button>



