@using DataAccess.Model
@model IList<Order>
@{
    ViewBag.Title = "CustomerOrders";
}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/Content/menustyle.css" />
<h2>Vaše objednávky</h2>

@foreach (Order order in Model)
{

<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static" style="background-color: white">

        <b><h3 class="mb-0">Číslo objednávky: @order.Id</h3></b>
        <p class="mb-auto"><b>Datum vytvoření: </b>@order.Date</p>
        <div>
            Status:
            @if (order.Status == "new")
            {
                <span>Nová objednávka</span>
            }
            else if (order.Status == "exp")
            {
                <span>Objednávka byla odeslána</span>
            }
            else
            {
                <span>Stornovaná objednávka</span>
            }

        </div>
    </div>
    <div style="width: 20% ; display:flex ; align-items:center" ><a href="@Url.Action("Detail","Order", new { orderId = @order.Id })" class="btn flex-xl-shrink-0 btn-lg btn-block text-white btn-outline-success btn-success">Detail</a></div>
    

</div>


}

<br />

<div style="width: 20%"><a href="@Url.Action("Index","Home")" class="btn btn-lg btn-block text-white justify-content-md-center btn-outline-success btn-success">Zpět</a></div>

