@using DataAccess.Model
@model IList<Order>
@{
    ViewBag.Title = "CustomerOrders";
}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/Content/menustyle.css" />
<h2>Vaše objednávky</h2>

@foreach (Order order in Model)
{

    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static" style="background-color: white">

            <b><h3 class="mb-0">Číslo objednávky: @order.Id</h3></b>
            <p class="mb-auto"><b>Datum vytvoření: </b>@order.Date</p>
            <div>
                <b>Status: @order.State</b>
                @if (order.State.Id == 1)
                {
                <span>Nová objednávka</span> 
                }
                else if(order.State.Id == 2)
                {
                    <span>Objednávka byla odeslána</span> 
                }
                else
                {
                    <span>Stornovaná objednávka</span> 
                }
                <a href="@Url.Action("Detail", "Order",new { orderId = order.Id})"
            
            </div>
        </div>
    </div>

}

<br />
<div style="width: 20%"><a href="@Url.Action("Index","Home")" class="btn btn-lg btn-block text-white btn-outline-success btn-success">Zpět</a></div>



