@using Alkoshop.Models
@model IList<Product>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/Content/menustyle.css" />

<div class="card-group">

    @foreach (Product p in Model)
    {
        <div class="col-lg-3" style="margin-bottom: 8px">
            <div class="card">
                <img class="card-img-top" src="@p.Picture" alt="Card image cap" width="200" height="200">
                <div class="card-body">
                    <h5 class="card-title">@p.Name</h5>
                    <div class="card-text list-unstyled">
                        <ul class="mt-3 mb-4 card-text list-unstyled">
                            <li>Producent: @p.Producer</li>
                            <li>Cena: @p.PricePU Kč</li>
                            @if (p.Availability == "yes")
                            {
                                <li>Na skladě</li>
                            }
                            else
                            {
                                <li>Vyprodano</li>
                            }
                        </ul>
                        <a href="@Url.Action("Remove", "Favourite", new { productId = p.Id})" class="btn btn-sm btn-block text-white btn-outline-success btn-success marged-bottom">Odebrat z oblíbených</a>

                    </div>
                </div>
                <div class="card-footer">

                    <small class="text-muted">
                        @if (p.Availability == "yes")
                        {
                            <a href="@Url.Action("Detail","Product", new {  productId = p.Id })" class="btn btn-lg btn-block text-white btn-outline-success btn-success marged-bottom">Koupit teď</a>
                        }
                    </small>
                </div>
            </div>
        </div>
    }

</div>





